 .container{

        background-color: #f4f4f4f4;
        color:#555;
        font-size: 16px;
        font-weight: normal ;
        font-family:A    rial, Helvetica, sans-serif;
        line-height: 1.6em;
        margin: 0;
   
    
 }
.box-1 h1{
   color: chartreuse;
   font-family: tahoma;
   font-weight: 800;
   font-style: italic;
   text-decoration: underline;
   text-transform: capitalize;
   letter-spacing: 4px;
   word-spacing: 1cm;
}

.box-1 p{
   color: #fff;
   text-decoration: none;
   font-size: medium;
   font-style: normal;text-decoration-color: #fff;
}

a{
   text-decoration: none;
   color: black;
}

a;:hover{
   color: red;
}

A:active{
   color: aqua;
}
   
 a:visited{
   color: chartreuse;
} 

 .button{
   background-color: #333;
   color: #fff;
   padding: 10px 15px;
 }

.button:hover{
   background-color: red;
   color: #f4f4f4f4;
}

 .box-1{
    background-color: #333;
    color: #fff;

   /* border-top: 5px red solid ;
    border-right: 5px  red solid ;
    border-left: 5px red solid ;
    border-bottom: 5px red solid ;*/


    border: 5px red solid;

    padding: 20px;
    
    margin-top: 60px;

    margin: 20px o;

 }
 .box-1{
   color: chartreuse;
   font-family:Tahoma;
   font-weight: 800;
   font-style: italic;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 0.2em;
   word-spacing: 1em;

 }

.box-2{
   border: 3px dotted #ccc ;
   padding: 20px;
   margin: 20px;

}

.categories{
   bo rder: 8px #ccc solid ;
   padding: 10px;
   border-radius: 15px;
}

.categories h2{
   text-align: center;
}

.categories ul{
   padding:0;
   padding-left: 20px;
   list-style:none ;
   
}

.categories li{
   padding-bottom: 6px;
   border-bottom: solid 1px #333;
   list-style-image: url{/}
    
}
   

   
   


